<!--
  ブラックジャックテンプレート
 -->
 <html>
	<head>
		<!-- サーバーで生成されたソケットデータ？（要調査）を読み込む -->
		<script src="/socket.io/socket.io.js"></script>
		<!-- 表示用プログラムの読み込み -->
		<!-- エンチャントライブラリの読み込み -->
		<script type="text/javascript" src="./javascripts/enchant.js"></script>
		<!-- ゲームファイルの読み込み　-->
		<script type="text/javascript" src="./javascripts/game.js"></script>
	</head>
		



	<body>
	</body>
</html>