body {
	width: 100%;
	margin: 0;
	padding: #666;
	font-family: "ƒƒCƒŠƒI", Meiryo, "Hiragino Kaku Gothic Pro", "ƒqƒ‰ƒMƒmŠpƒS Pro W3", "MS PƒSƒVƒbƒN", "Luicida Grande", "Lucida Sand Unicode", Arial, Verdanam sans-serif;
	line-height: 18@x;
	background: #EDE8EA url(/images/page_back_ground.gif) repeat;
}